<template>
  <div id="app">
    <Hover />
    <Todo />
  </div>
</template>

<script>
import Hover from "./components/Hover.vue";
import Todo from "./components/Todo.vue";

export default {
  name: "app",
  components: {
    Hover,
    Todo
  }
};
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
