<template>
  <div class="todo">
    <ul>
      <li v-for="todo in todos" :key="todo.text">{{ todo.text }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "todo",
  data() {
    return {
      todos: [
        { text: "Learn Javascript" },
        { text: "Learn Vue" },
        { text: "Try something" }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
.todo {
  li {
    list-style: none;
  }
}
</style>
