<template>
  <div id="app">
    <Hover />
  </div>
</template>

<script>
import Hover from "./components/Hover.vue";
export default {
  name: "app",
  components: {
    Hover
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
